<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form  action="/search" method="post">
    <input type="text" name="url" />
    <input type="submit" />
    </form>
    <% for (var k in data) { %>
			<h5><%= data[k].name %> :: <%= data[k].content %></h5>
	<% } %>
  </body>
</html>